<div class="container spacer">
    <app-edit-user [user] = "userToEdit" 
    *ngIf="editMode != null" 
    [editMode] = "editMode" 
    (close)="onClose()" 
    (save) = "onSaveEdit()"
    (delete)="deleteWasApproved()"></app-edit-user>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let user of users;let i = index">
            <div class="card-artista" >
                <h5>{{user.nome}} {{user.cognome}}</h5>
                <p>telefono: {{user.numero_telefono}}</p>
                <p>sesso: {{user.sesso}}</p>
                <p>eta: {{user.eta}}</p>
                <p>ruolo: {{user.ruolo}}</p>
                <p>email: {{user.email}}</p>
                <div class="button-container"><button class="btn btn-primary"  (click)="onEdit(i)">Edit</button><button class="btn btn-danger" (click)="onDelete(i)">Delete</button></div>
            </div>
        </div>
    </div>
</div>